In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Customer Call List.xlsx")

In [3]:
df.head(25)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [5]:
df.drop(columns=['Not_Useful_Column'], inplace = True)
df.head(5)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No

In [6]:
df.shape

(21, 7)

In [7]:
df.drop_duplicates(inplace = True )
df.head(5)
df.shape

(20, 7)

In [8]:
df['First_Name'] = df['First_Name'].str.strip()
df['Last_Name'] = df['Last_Name'].str.strip()

In [9]:
df['Last_Name']

0         Baggins
1           Nadir
2          /White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
Name: Last_Name, dtype: object

In [10]:
df['Last_Name'] = df['Last_Name'].str.strip('/._')

In [11]:
# df['Last_Name'] = df['Last_Name'].str.replace('/', ' ')
# df['Last_Name'] = df['Last_Name'].str.replace('...', ' ')
# df['Last_Name'] = df['Last_Name'].str.replace('_', ' ')

In [12]:
# iloc[row,col]
# df.iloc[14,2]

In [27]:
# df['Phone_Number'] = df['Phone_Number'].str.replace('|',"")
# df['Phone_Number'] = df['Phone_Number'].str.replace('/',"")
# df['Phone_Number'] = df['Phone_Number'].str.replace('-',"")
df['Phone_Number'] = df['Phone_Number'].str.replace(r'[|/-]', '', regex=True)
df = df[(df['Phone_Number']!="") & (df['Phone_Number']!="Na") & (df['Phone_Number'].notna())]
df['Phone_Number']

0     1235455421
1     1236439775
3     1235432345
4     8766783469
5     3047622467
7     8766783469
9     1235455421
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
19    8766783469
Name: Phone_Number, dtype: object

In [21]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')
df = df[df['Paying Customer'] != 'N/a']
df['Paying Customer']

0     Y
1     N
3     Y
4     Y
5     Y
6     N
7     N
9     Y
10    Y
12    Y
13    Y
14    N
15    N
16    Y
19    Y
Name: Paying Customer, dtype: object

In [20]:
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace("No","N",)
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace("Yes","Y",)
df = df[df['Do_Not_Contact'].notna() & (df['Do_Not_Contact'] != "")]
df['Do_Not_Contact']

0     N
1     Y
3     Y
4     N
5     Y
6     N
7     N
9     N
10    N
12    N
13    N
14    N
15    N
16    N
18    Y
19    N
Name: Do_Not_Contact, dtype: object

In [28]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N

In [29]:
df = df.reset_index(drop = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y
2,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
3,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N
4,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y
5,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N
6,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N
7,1013,Don,Draper,1235432345,2039 Main Street,Y,N
8,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N
9,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N
10,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N
11,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N
12,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N